[submodule "es6-snippets"]
	path = es6-snippets
	url = https://github.com/CodyReichert/es6-snippets.git
[submodule "site-lisp/crypto-portfolio"]
	path = site-lisp/crypto-portfolio
	url = https://github.com/jagrg/crypto-portfolio
